body {
    background: black;
}

svg path {
    fill: blue;
    transition: all ease 0.3s;
}

.vlb-single-region:hover path {
    filter: brightness(65%);
    transition: all ease 0.3s;
}

.vlb-map {
    height: 100%;
    left: 0;
    pointer-events: all;
    position: relative;
    top: 0;
    width: 100%;
}

.vlb-map-stroke {
    stroke: var(--szn-vlb--color-background-primary, #fff);
}

#body {
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 150px;
}

.vlb-val {
    color: red;
    font-weight: bold;
    font-size: 45px;
}

.vlb-nadpis {
    color: #555555;
    font-weight: bold;
    font-size: 20px;
}

.info-col {
    margin: 0 20px 0 20px;
}